<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender"> 
    	<layout class="org.apache.log4j.PatternLayout"> 
        	<param name="ConversionPattern" value="%d{ISO8601} -%5p %-25c{1} :%t:%m%n"/>
		</layout>
	</appender>
	
    <appender name="fileout" class="org.apache.log4j.FileAppender"> 
    	<param name="File" value="/var/log/majat-node.log"/> 
        <layout class="org.apache.log4j.PatternLayout"> 
        	<param name="ConversionPattern" value="%d{ISO8601} -%5p %-25c{1} :%t:%m%n"/> 
        </layout> 
	</appender>
	
	<logger name="com.talis">
    	<level value="info"/> 
  	</logger> 
  	<logger name="com.talis.rdf.dataset.jena.QueryDatasetTDB">
    	<level value="debug"/> 
  	</logger> 
  	<logger name="com.talis.rdf.arq.ext">
    	<level value="debug"/> 
  	</logger>
	
    <root> 
    	<level value="info"/> 
        <!-- appender-ref ref="stdout" /--> 
        <appender-ref ref="fileout" />
	</root> 

</log4j:configuration>
